/*Inizio common*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/*Fine common*/

/*Inizio impostazioni dimensione e colore box*/
.box{
    width: 100%;
    height: 100vh;
}

.container .red{
    background-color: red;
}

.container .green{
    background-color:green;
}

.container .yellow{
    background-color:yellow;
}
/*Fine impostazioni dimensione e colore box*/