/*Inizio common*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/*Fine common*/

/*Inizio impostazioni dimensione e colore box*/
.box{
    width: 100%;
    height: 100vh;
    position: relative;
}

.container .red{
    background-color: red;
}

.container .green{
    background-color:green;
}

.container .yellow{
    background-color:yellow;
}
/*Fine impostazioni dimensione e colore box*/


/*Inizio posizionamento immagini scarpe*/
.img{
    text-align: center;
}

.shoes{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
/*Fine posizionamento immagini scarpe*/


/*Inizio formattazione e posizionamento titolo*/
.box-title{
    display: inline-block;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center; 
}

.title-size{
    padding: 10px;
    font-size: 40px;
    text-transform: uppercase;
}

.title-yellow{
    color: yellow;
}

.title-green{
    color: green;
}
/*Fine formattazione e posizionamento titolo*/